/*** ОБЩЕЕ ***/
.burgundy {
    background-color: #9B3441;
}

.burgundy-font-color {
    color: #9B3441;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item > .nav-link.active {
    color: #FFD68E;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.font-weight-custom-bold {
    font-weight: 700;
}

.font-weight-custom-bolder {
    font-weight: 500;
}

.line-height-custom {
    line-height: 1.2em;
}

.advantage-cards .card {
    border: 0;

}

/*.advantage-cards .card.border-dashed {*/
    /*border-right: 1px dashed;*/
/*}*/

.advantage-img {
    height: 70px;
    width: 70px;
}

.pagewide {
    height: 200px;
    z-index: 9999;
    background-color: white;
}

/*.owl-nav {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding-top: 25px;*/
/*}*/

@media (width: 576px) {
    .main-container {
        padding-top: 0;
    }

    .navbar-custom {
        margin-top: 0;
    }

    /*.owl-prev {*/
        /*position: absolute;*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*display: block !important;*/
        /*border: 0 solid black;*/
    /*}*/

    /*.owl-next {*/
        /*position: absolute;*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*display: block !important;*/
        /*border: 0 solid black;*/
    /*}*/
}

@media (min-width: 1px) {
    .modal.right .modal-dialog {
        width: 100%;
        top: 0;
    }
}


@media (min-width: 577px) {
    .navbar-custom {
        margin-top: 200px;
    }

    .logo-mini {
        width: 40%;
        display: inline-block;
    }

    .logo-mini img {
        width: 100%;
    }

    .info-mini {
        height: 100%;
        float: right;
        max-width: 60%;
    }

    .main-container {
        padding-top: 170px;
    }

    .owl-prev {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20%;
        margin-left: -90px;
        display: block !important;
        border: 0 solid black;
    }

    .owl-next {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20%;
        right: -90px;
        display: block !important;
        border: 0 solid black;
    }

    .modal.right .modal-dialog {
        width: 400px;
        top: 200px;
    }
}

@media (min-width: 768px) {
    .logo-mini {
        display: inline-block;
        width: 40%;
        padding-top: 3em;
        padding-left: 3em;
    }

    .logo-mini img {
        width: 70%;
    }

    .info-mini {
        height: 100%;
        float: right;
        max-width: 70%;
    }

    .info-mini img {
        width: 100%;
    }

    .advantage-cards .card.border-dashed {
        border-right: 1px dashed;
    }
}

.vk-btn {
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, 0) url("../images/vk5.png");
    left: -1.2em;
    bottom: 120px;
    width: 60px;
    height: 120px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-decoration: none;

}

.social-btn {
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, 0) url("../images/vk5.png");
    left: -1.2em;
    bottom: 200px;
    width: 60px;
    height: 120px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.email-form-btn {
    transform: scale(-1, 1);
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, 0) url("../images/vk5.png");
    right: -1.2em;
    bottom: 200px;
    width: 60px;
    height: 120px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.email-form-btn:hover .email-form-btn__icon {
    color: #4a76a8;
}


.email-form-btn__icon {
    position: relative;
    top: 55px;
    left: 23px;
    color: white;
    font-size: 1.3em;
}

.vk-btn:hover .vk-btn__icon {
    color: #4a76a8;
}

.vk-btn__icon {
    position: relative;
    top: 55px;
    left: 23px;
    color: white;
    font-size: 1.3em;
}

.social-btn:hover .social-btn__icon {
    color: #4a76a8;
}

.social-btn__icon {
    position: relative;
    top: 55px;
    left: 23px;
    color: white;
    font-size: 1.3em;
}


/*** ОТПРАВКА ПОЧТЫ ***/
html {
    overflow-y: scroll !important;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-open .pagewide {
    padding-right: 0 !important;
}

.modal-open .navbar {
    padding-left: 33px !important;
}

.modal.right .modal-dialog {
    animation: 0.5s ease-out slide;
    position: fixed;
    margin: auto;
    height: 100%;
    transform: translate3d(0%, 0, 0);
    right: 200px;
    padding-top: 3px;
}

.modal.right .modal-content {
    height: 100%;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
    right: 0;
}

.modal.right.fade .modal-dialog {
    right: 0;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-body {
    margin-left: 0;
    margin-right: 0;
}

.spinner {
    display: none;
    position: relative;
    height: 80px;
    opacity: 1;
    transition: opacity linear 0.1s;

}

.spinner::before {
    animation: 2s linear infinite spinner;
    position: absolute;
    border: solid 4px #eee;
    border-bottom-color: #9B3441;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    content: "";
    left: 50%;
    top: 30px;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

@keyframes slide {
    from {
        right: -400px;
    }

    to {
        right: 0;
    }
}

#sendBtn {
    color: white;
}

.thankyou-message {
    color: black;
}